
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Space Mono', monospace;

    
}

body{
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: grid;
    place-items: center;
    font-size: 24px;
}
.contenedor-1{
    
    display: grid;
    place-items: center;
    gap: 4rem;
}

.contenedor-primario{
    background-color: whitesmoke;
    height: 330px;
    width: 750px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    .hijo1{
        width: 84%;
        height: 85%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1.5rem;
        input{
            border:none;
            font-size: 20px;
            color:hsl(183, 100%, 15%) ;
            
        }
       
       


    }

    .hijo2{
        width: 84%;
        height: 85%;
        background-color: hsl(183, 100%, 15%);
        border-radius: 10px;
        .titulo-2{
            color: white;
            font-size: 14px;
        }
        .person{
            color:  hsl(186, 14%, 43%);
            font-size: 12px;
        }

        .tip-person{
            color: hsl(172, 67%, 45%);
            font-size: 30px;

        }

        .total-person{
            color: hsl(172, 67%, 45%);
            font-size: 30px;

        }
        .reset-boton{
            width: 83%;
            height: 13%;
            border-radius: 5px;
            border: none;
            background-color: hsl(182, 43%, 34%) ;
            font-size: 20px;
            color: hsl(183, 100%, 15%);        
            margin: 2rem;
            margin-top: 2rem;
            font-weight: bold;
        }
        .reset-active{
            background-color: hsl(145, 61%, 46%) ;
            color: hsl(183, 49%, 15%);
            cursor: pointer;
        }

            

    }
}
.boton-active{
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
    
}

.flex{
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 2rem;
    
}

.grid{
    display: grid;
}
.los-tips{
    width: 100%;
}

.grid-tips{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.tip-boton{
    background-color:hsl(183, 100%, 15%) ;
    width: 100%;
    height: 30px;
    color: white;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 20px;
}
.tip-boton:hover{
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;

}
.custom{
    
    width: 100%;
    height: 30px;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    display: grid;
    place-items: center;
    border-radius: 3px;
    
}
.custom:focus{
    
    
    outline-color: hsl(183, 100%, 15%);
    //outline: none !important;
    border: 3px solid hsl(183, 100%, 15%) ;
   // box-shadow: 0 0 10px #719ECE;
}

.input-people,.input-bill,.input-custm{
    background-color:  hsl(189, 41%, 97%);
    text-align: right;
    color:hsl(183, 100%, 15%) ;
    width: 100%;

}
.input-people:focus,.input-bill:focus,.input-custm:focus{
     
    outline-color: hsl(183, 100%, 15%);
    //outline: none !important;
    border: 3px solid hsl(183, 100%, 15%) ;
    // box-shadow: 0 0 10px #719ECE;
    cursor: pointer;
}
.input-people::placeholder,.input-bill::placeholder,.custom::placeholder{
    color: hsl(183, 100%, 15%);
}

.contenedor-people{
    width: 100%;
}
.caja-gente{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.bill{
    width: 100%;
}

.cant{
    color: rgb(224, 109, 15);
}
.contenedor-input-people,.contenedor-input-total{
   
    background-color:  hsl(189, 41%, 97%);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.los-tips{
    display: grid;
    gap: 1.5rem;
}

.font-color{
    color: hsl(183, 100%, 15%);
    font-weight: bold;

}

.position{
    position: absolute;
    
}
.custom::placeholder{
    font-size: 16px;
}
.input-hover:hover{
    cursor: pointer;
}
.people-active{
    border-radius: 3px;
    border: 2px solid rgb(224, 109, 15) !important; 
}

.people-active:focus{
    border: 3px solid rgb(224, 109, 15);
    outline-color:  rgb(224, 109, 15);
}
.active-boton{
    background-color: hsl(186, 14%, 43%);
    color: hsl(183, 100%, 15%);
    
}

@media (max-width: 760px){
    .contenedor-primario{
        display: grid;
        grid-template-columns: 1fr;
        height: 750px;
        width: 330px;
        place-items: center;
    }

}